@model Dream14.ViewModels.SuperAdmin.ChangePassword
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form id="formResetPassword" asp-controller="Home" asp-action="ChangePasswordForLoginUser"
      data-ajax-begin="onBegin" data-ajax-complete="onComplete"
      data-ajax-failure="onFailed" data-ajax-success="onSuccess"
      data-ajax="true" data-ajax-method="POST">
    <div class="popup_window" id="resetpassword_popup">

        <button type="button" class="popup_close_btn"></button>

        <div class="popup_title">Change Password</div>

        <div class="popup_form_fields">

            <fieldset>

                <div class="form_field">
                    <label>Old Password</label>
                    @* id="txtOldPassword" txtNewPassword  txtConfirmPassword id="span_OldPassoword" id="span_NewPassword" id="span_ConfirmPassword"*@
                    <input type="password" asp-for="OldPassword">
                    <span class="error_label" asp-validation-for="OldPassword"></span>
                </div>
                <div class="form_field">
                    <label>New Password</label>
                    <input type="password" asp-for="NewPassword">
                    <span class="error_label" asp-validation-for="NewPassword"></span>
                </div>
                <div class="form_field">
                    <label>Confirm Password</label>
                    <input type="password" asp-for="ConfirmPassword">
                    <span class="error_label" asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="form_field" style="    text-align: center">
                    @*<a id="btnResetPassword"  href="#" class="btn_field reset">Change Password</a>*@
                    <button type="submit" class="btn_field">Change Password</button>
                </div>
            </fieldset>

        </div>


    </div>
</form>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery.unobtrusive-ajax.js"></script>
<script src="~/js/ResetPassword.js" asp-append-version="true"></script>
