@{
    ViewData["Title"] = "Dashboard";
}

<div class="full_width">
    <div class="banner" style="background-image:url(/images/filter_banner.jpg);"></div>

    <div class="center_wrap">

        <div class="content_wrap">


            <div class="page_heading">
                <h1>The Dream 14 Dashboard</h1>
                <h2>Welcome to the Dream 14 Admin system</h2>
                <p>Depending on your Admin role, you can edit and add new content that will display to the whole company using our system</p>
            </div>
            <!--End page_heading-->


        </div>
        <!--End content_wrap-->



    </div>
    <!--End center_wrap-->

</div>

@section DocumentReady {
    $('.nav-li').removeClass('current');
    $('#menuItemDashboard').addClass('current');
}