
@{
    ViewData["Title"] = "FrontEndEventDetail";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<style>
    .table-css {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border: 1px solid;
        margin-bottom: 20px;
        text-align: center;
    }

        .table-css tr td.left-text {
            text-align: left;
        }

        .table-css td, #table-css th {
            border: 1px solid #fff;
            padding: 8px;
        }

        .table-css tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .table-css tr:hover {
            background-color: #ddd;
        }

        .table-css th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #ff5000;
            color: white;
        }

    /* The Close Button */
    .close {
        color: #000;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .red-color {
        color: red
    }

    .gray-color {
        background-color: #CCCCCC;
        /* color: gray; */
        text-align: center;
    }

    .modal label {
        border: 1px solid black;
        margin: 12px;
        padding: 5px;
        font: caption;
    }

    .modal-body {
        height: 400px;
        overflow: auto;
    }

    .sub-header {
        color: white;
        background-color: #ff5000;
        padding: 11px;
        font-weight: 900;
        text-align: left;
    }

    .modal h3 {
        background-color: #001240;
        color: white;
        padding: 10px;
        margin-top: 20px;
        text-align: left;
    }

    .modal-content {
        width: 85%;
    }

    .close {
        color: white;
        margin: 19px;
        margin-top: 28px;
        margin-right: 10px;
    }
</style>


@*<h2 style="text-align: center;margin-bottom: 20px;">Event Detail</h2>*@
<table class="table-css">
    <tr>
        <th id="th1_header"></th>
        <th id="th2_header"></th>
        <th id="th3_header"></th>
    </tr>
</table>
<div>
    <table class="table-css" id="Table_t1"></table>
    <table class="table-css" id="Table_t2"></table>
    @*<div style="height:400px; overflow:auto; margin-bottom: 20px; border: 1px solid;">*@
        <table class="table-css" id="Table_t3"></table>
    @*</div>*@
    @*<div style="height:400px; overflow:auto; margin-bottom: 20px; border: 1px solid;">*@
        <table class="table-css" id="Table_t4"></table>
    @*</div>*@
</div>

<!-- The Modal -->
<div id="matchOddsModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close matchOddsClose">&times;</span>
            <h3>Rules</h3>
            <div class="sub-header">Match</div>
        </div>
        <div class="modal-body">
            <label class="gray-color">
                No records Found
            </label>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="bookMakerModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close bookmakerClose">&times;</span>
            <h3>Rules</h3>
            <div class="sub-header">Bookmaker</div>
        </div>
        <div class="modal-body">
            <label class="red-color">
                Due to any reason any team will be getting advantage or disadvantage we are not concerned.
            </label>
            <label class="red-color">
                Company reserves the right to suspend/void any id/bets if the same is found to be illegitimate. For example incase of vpn/robot-use/multiple entry from same IP/ multiple bets at the same time (Punching) and others. Note : only winning bets will be voided.
            </label>
            <label class="red-color">
                We will simply compare both teams 25 overs score higher score team will be declared winner in ODI (25 over comparison)
            </label>
            <label class="red-color">
                We will simply compare both teams 10 overs higher score team will be declared winner in T20 matches (10 over comparison)
            </label>
            <label class="red-color">
                Any query about the result or rates should be contacted within 7 days of the specific event, the same will not be considered valid post 7 days from the event.
            </label>
            <label class="red-color">
                If two team ends up with equal points, then result will be given based on the official point table
            </label>
            <label class="red-color">
                Tennis:- Advance fancy market
            </label>
            <label>
                If the second set is not completed all bets regarding this market will be voided
            </label>
            <label>
                If a player retires after completion of second set, then the market will be settled as three sets
            </label>
            <label class="red-color">
                Virtual Cricket
            </label>
            <label>
                At any situation if the video gets interrupted/stopped then the same cannot be continued due to any technical issues bookmaker market will be voided
            </label>

        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="sessionMarketModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close sessionMarketClose">&times;</span>
            <h3>Rules</h3>
            <div class="sub-header">Fancy</div>
        </div>
        <div class="modal-body">
            <label class="red-color">
                1. All fancy bets will be validated when match has been tied.
            </label>
            <label class="red-color">
                2. All advance fancy will be suspended before toss or weather condition.
            </label>
            <label class="red-color">
                3. In case technical error or any circumstances any fancy is suspended and does not resume result will be given all previous bets will be valid (based on haar/jeet).
            </label>
            <label class="red-color">
                4. If any case wrong rate has been given in fancy that particular bets will be cancelled.
            </label>
            <label class="red-color">
                5. In any circumstances management decision will be final related to all exchange items. Our scorecard will be considered as valid if there is any mismatch in online portal
            </label>
            <label class="red-color">
                6. In case customer make bets in wrong fancy we are not liable to delete, no changes will be made and bets will be consider as confirm bet.
            </label>
            <label class="red-color">
                7. Due to any technical error market is open and result has came all bets after result will be deleted.
            </label>
            <label class="red-color">
                8. Manual bets are not accepted in our exchange
            </label>
            <label class="red-color">
                9. Our exchange will provide 5 second delay in our tv.
            </label>
            <label class="red-color">
                10. Company reserves the right to suspend/void any id/bets if the same is found to be illegitimate. For example incase of vpn/robot-use/multiple entry from same IP/ multiple bets at same time (Punching) and others. Note : only winning bets will be voided, For example: If we find such entries (above mentioned) from any id and their bets are (200000 lay in a 6 over session for the rate 40 and 200000 back for the rate of 48) and the actual score is 38, bets of 40 lay will be voided and the bets for 48 back will be considered valid.
            </label>
            <label class="red-color">
                11. Company reserves the right to void any bets (only winning bets) of any event at any point of the match if the company believes there is any cheating/wrong doing in that particular event by the players (either batsman/bowler)
            </label>
            <label class="red-color">
                12. Once our exchange give username and password it is your responsibility to change a password.
            </label>
            <label class="red-color">
                13. Penalty runs will not be counted in any fancy.
            </label>
            <label class="red-color">
                14. Warning:- live scores and other data on this site is sourced from third party feeds and may be subject to time delays and/or be inaccurate. If you rely on this data to place bets, you do so at your own risk. Our exchange does not accept responsibility for loss suffered as a result of reliance on this data.
            </label>
            <label class="red-color">
                15.Traders will be block the user ID if find any misinterpret activities, No queries accept regarding.
            </label>
            <label class="red-color">
                15.Traders will be block the user ID if find any misinterpret activities, No queries accept regarding.
            </label>
            <label class="red-color">
                16. Our exchange is not responsible for misuse of client id.
            </label>
            <label class="red-color">
                Test
            </label>
            <label class="red-color">
                1 Session:-
            </label>
            <label>
                1.1 Complete session valid in test.
            </label>
            <label>
                1.2 Session is not completed for ex:- India 60 over run session Ind is running in case India team declares or all-out at 55 over next 5 over session will be continue in England inning.
            </label>
            <label>
                1.3 1st day 1st session run minimum 25 over will be played then result is given otherwise 1st day 1st session will be deleted.
            </label>
            <label>
                1.4 1st day 2nd session run minimum 25 over will be played then result is given otherwise 1st day 2nd session will be deleted.
            </label>
            <label>
                1.5 1st day total run minimum 80 over will be played then result is given otherwise 1st day total run will be deleted.
            </label>
            <label>
                1.6 Test match both advance session is valid.
            </label>
            <label class="red-color">
                2 Test lambi/ Inning run:-
            </label>
            <label>
                2.1 Mandatory 70 over played in test lambi paari/ Innings run. If any team all-out or declaration lambi paari/ innings run is valid.
            </label>
            <label>
                2.2 In case due to weather situation match has been stopped all lambi trades will be deleted.
            </label>
            <label>
                2.3 In test both lambi paari / inning run is valid in advance fancy.
            </label>
            <label class="red-color">
                3 Test batsman:-
            </label>
            <label>
                3.1 In case batsmen is injured he/she is made 34 runs the result will be given 34 runs.
            </label>
            <label>
                3.2 Batsman 50/100 run if batsman is injured or declaration the result will be given on particular run.
            </label>
            <label>
                3.3 In next men out fancy if player is injured particular fancy will be deleted.
            </label>
            <label>
                3.4 In advance fancy opening batsmen is only valid if same batsmen came in opening the fancy will be valid in case one batsmen is changed that particular player fancy will be deleted.
            </label>
            <label>
                3.5 Test match both advance fancy batsmen run is valid.
            </label>
            <label class="red-color">
                4 Test partnership:-
            </label>
            <label>
                4.1 In partnership one batsman is injured partnership is continued in next batsman.
            </label>
            <label>
                4.2 Partnership and player runs due to weather condition or match abandoned the result will be given as per score.
            </label>
            <label>
                4.3 Advance partnership is valid in case both players are different or same.
            </label>
            <label>
                4.4 Test match both advance fancy partnership is valid.
            </label>
            <label class="red-color">
                5 Other fancy advance (test):-
            </label>
            <label>
                5.1 Four, sixes, wide, wicket, extra run, total run, highest over and top batsmen is valid only if 300 overs has been played or the match has been won by any team otherwise all these fancy will be deleted. Additionally all events are valid only for 1st innings( this is applicable to all individual team events also)
            </label>
            <label class="red-color">
                2 Odi rule:-
            </label>
            <label class="red-color">
                Session:-
            </label>
            <label>
                Match 1st over run advance fancy only 1st innings run will be counted.
            </label>
            <label>
                Complete session is valid in case due to rain or match abandoned particular session will be deleted.
            </label>
            <label>
                For example:- 35 over run team a is playing any case team A is all-out in 33 over team a has made 150 run the session result is validated on particular run.
            </label>
            <label>
                Advance session is valid in only 1st innings.
            </label>
            <label class="red-color">
                50 over runs:-
            </label>
            <label>
                In case 50 over is not completed all bet will be deleted due to weather or any condition.
            </label>
            <label>
                Advance 50 over runs is valid in only 1st innings.
            </label>
            <label class="red-color">
                Odi batsman runs:-
            </label>
            <label>
                In case batsman is injured he/she is made 34 runs the result will be given 34 runs.
            </label>
            <label>
                In next men out fancy if player is injured particular fancy will be deleted.
            </label>
            <label>
                In advance fancy opening batsmen is only valid if same batsmen came in opening the fancy will be valid in case one batsmen is changed that particular player fancy will be deleted.
            </label>
            <label class="red-color">
                Odi partnership runs:-
            </label>
            <label>
                In partnership one batsman is injured partnership is continued in next batsman.
            </label>
            <label>
                Advance partnership is valid in case both players are different or same.
            </label>
            <label>
                Both team advance partnerships are valid in particular match.
            </label>
            <label class="red-color">
                Other fancy:-
            </label>
            <label>
                Four, sixes, wide, wicket, extra run, total run, highest over ,top batsman,maiden over,caught-out,no-ball,run-out,fifty and century are valid only match has been completed in case due to rain over has been reduced all other fancy will be deleted.
            </label>
            <label class="red-color">
                T20:-
            </label>
            <label class="red-color">
                Session:-
            </label>
            <label>
                Match 1st over run advance fancy only 1st innings run will be counted.
            </label>
            <label>
                Complete session is valid in case due to rain or match abandoned particular session will be deleted.
            </label>
            <label>
                For example :- 15 over run team a is playing any case team a is all-out in 13 over team A has made 100 run the session result is validated on particular run.
            </label>
            <label>
                Advance session is valid in only 1st innings.
            </label>
            <label class="red-color">
                20 over runs:-
            </label>
            <label>
                Advance 20 over run is valid only in 1st innings. 20 over run will not be considered as valid if 20 overs is not completed due to any situation
            </label>
            <label class="red-color">
                T20 batsman runs:-
            </label>
            <label>
                In case batsman is injured he/she is made 34 runs the result will be given 34 runs.
            </label>
            <label>
                In next men out fancy if player is injured particular fancy will be deleted.
            </label>
            <label>
                In advance fancy opening batsmen is only valid if same batsmen came in opening the fancy will be valid in case one batsmen is changed that particular player fancy will be deleted.
            </label>
            <label class="red-color">
                T20 partnership runs:-
            </label>
            <label>
                In partnership one batsman is injured partnership is continued in next batsman.
            </label>
            <label>
                Advance partnership is valid in case both players are different or same.
            </label>
            <label>
                Both team advance partnerships are valid in particular match.
            </label>
            <label class="red-color">
                1st 2 & 3 Wickets runs:- T20/ODI
            </label>
            <label>
                Advance event is valid in only 1st Innings.
            </label>
            <label>
                If over reduced due to rain or weather condition or match abandoned the result will be given as per score.
            </label>
            <label class="red-color">
                Other fancy:-
            </label>
            <label>
                T-20 ,one day and test match in case current innings player and partnership are running in between match has been called off or abandoned that situation all current player and partnership results are valid.
            </label>
            <label>
                Four, sixes, wide, wicket, extra run, total run, highest over and top batsman,maiden over,caught-out,no-ball,run-out,fifty and century are valid only match has been completed in case due to rain over has been reduced all other fancy will be deleted. 1st 6 over dot ball and 20 over dot ball fancy only valid is 1st innings.
            </label>
            <label>
                1st wicket lost to any team balls meaning that any team 1st wicket fall down in how many balls that particular fancy at least minimum one ball have to be played otherwise bets will be deleted.
            </label>
            <label>
                1st wicket lost to any team fancy valid both innings.
            </label>
            <label>
                How many balls for 50 runs any team meaning that any team achieved 50 runs in how many balls that particular fancy at least one ball have to be played otherwise that fancy bets will be deleted.
            </label>
            <label>
                How many balls for 50 runs fancy any team only first inning valid.
            </label>
            <label>
                1st 6 inning boundaries runs any team fancy will be counting only according to run scored fours and sixes at least 6 over must be played otherwise that fancy will be deleted.
            </label>
            <label>
                1st inning 6 over boundaries runs any team run like wide ,no-ball ,leg-byes ,byes and over throw runs are not counted this fancy.
            </label>
            <label>
                How many balls face any batsman meaning that any batsman how many balls he/she played that particular fancy at least one ball have to be played otherwise that fancy bets will be deleted.
            </label>
            <label>
                How many balls face by any batsman both innings valid.
            </label>
            <label>
                Lowest scoring over will be considered valid only if the over is completed fully (all six deliveries has to be bowled)
            </label>
            <label class="red-color">
                Concussion in Test:-
            </label>
            <label>
                All bets of one over session will be deleted in test scenario, in case session is incomplete. For example innings declared or match suspended to bad light or any other conditions.
            </label>
            <label>
                1. All bets will be considered as valid if a player has been replaced under concussion substitute, result will be given for the runs scored by the mentioned player. For example DM Bravo gets retired hurt at 23 runs, then result will be given for 23.
            </label>
            <label>
                2. Bets of both the player will be valid under concussion substitute.
            </label>
            <label class="red-color">
                Total Match- Events (test):-
            </label>
            <label>
                Minimum of 300 overs to be bowled in the entire test match, otherwise all bets related to the particular event will get void. For example, Total match caught outs will be valid only if 300 overs been bowled in the particular test match
            </label>
            <label class="red-color">
                Limited over events-Test:-
            </label>
            <label>
                This event will be considered valid only if the number of overs defined on the particular event has been bowled, otherwise all bets related to this event will get void. For example 0-25 over events will be valid only if 25 overs has been bowled, else the same will not be considered as valid
            </label>
            <label>
                If the team gets all out prior to any of the defined overs, then balance overs will be counted in next innings. For example if the team gets all out in 23.1 over the same will be considered as 24 overs and the balance overs will be counted from next innings.
            </label>
            <label class="red-color">
                Bowler Wicket event's- Test:-
            </label>
            <label>
                Minimum of one legal over (one complete over) has to be bowled by the bowler mentioned in the event, else the same will not be considered as valid
            </label>
            <label class="red-color">
                Bowler over events- Test:-
            </label>
            <label>
                The mentioned bowler has to complete the defined number of overs, else the bets related to that particular event will get void. For example if the mentioned bowler has bowled 8 overs, then 5 over run of that particular bowler will be considered as valid and the 10 over run will get void
            </label>
            <label class="red-color">
                Player ball event's- Test:-
            </label>
            <label>
                This event will be considered valid only if the defined number of runs made by the mentioned player, else the result will be considered as 0 (zero) balls
            </label>
            <label>
                For example if Root makes 20 runs in 60 balls and gets out on 22 runs, result for 20 runs will be 60 balls and the result for balls required for 25 run Root will be considered as 0 (Zero) and the same will be given as result
            </label>
            <label class="red-color">
                Limited over events-ODI:-
            </label>
            <label>
                This event will be considered valid only if the number of overs defined on the particular event has been bowled, otherwise all bets related to this event will get void. 0-50 over events will be valid only if 50 over completed, if the team batting first get all out prior to 50 over the balance over will be counted from second innings. For example if team batting first gets all out in 35 over balance 15 over will be counted from second innings, the same applies for all events if team gets all out before the defined number of overs
            </label>
            <label>
                The events which remains incomplete will be voided if over gets reduced in the match due to any situation, for example if match interrupted in 15 overs due to rain/badlight and post this over gets reduced. Events for 0-10 will be valid, all other events related to this type will get deleted.
            </label>
            <label>
                This events will be valid only if the defined number of over is completed. For example team batting first gets all out in 29.4 over then the same will be considered as 30 over, the team batting second must complete 20 overs only then 0-50 over events will be considered as valid. In case team batting second gets all out in 19.4 over then 0-50 over event will not be considered as valid, This same is valid for 1st Innings only.
            </label>
            <label class="red-color">
                Bowler event- ODI:-
            </label>
            <label>
                The mentioned bowler has to complete the defined number of overs, else the bets related to that particular event will get void. For example if the mentioned bowler has bowled 8 overs, then 5 over run of that particular bowler will be considered as valid and the 10 over run will get void
            </label>
            <label>
                Both innings are valid
            </label>
            <label class="red-color">
                Other event:- T20
            </label>
            <label>
                The events for 1-10 over and 11-20 over will be considered valid only if the number of over mentioned has been played completely. However if the over got reduced before the particular event then the same will be voided, if the team batting first get all out prior to 20 over the balance over will be counted from second innings. For example if team batting first gets all out in 17 over balance 3 over will be counted from second innings. This same is valid for 1st Innings only.
            </label>
            <label>
                If over got reduced in between any running event, then the same will be considered valid and the rest will be voided. For example.., match started and due to rain/bad light or any other situation match got interrupted at 4 over and later over got reduced. Then events for 1-10 is valid rest all will be voided
            </label>
            <label>
                Bowler Session: This event is valid only if the bowler has completed his maximum quota of overs, else the same will be voided. However if the match has resulted and the particular bowler has already started bowling his final over then result will be given even if he haven't completed the over. For example B Kumar is bowling his final over and at 3.4 the match has resulted then result will be given for B Kumar over runs
            </label>
            <label>
                Incase of DLS, the over got reduced then the bowler who has already bowled his maximum quota of over that result will be considered as valid and the rest will be voided
            </label>
            <label class="red-color">
                12. Player and partnership are valid only 14 matches.
            </label>
            <label class="red-color">
                Boundary on Match 1st Free hit
            </label>
            <label>
                Both innings are valid
            </label>
            <label>
                Boundary hit on Free hit only be considered as valid
            </label>
            <label>
                Bets will be deleted if there is no Free hit in the mentioned match
            </label>
            <label>
                Boundary by bat will be considered as valid
            </label>
            <label class="red-color">
                Boundaries by Player
            </label>
            <label>
                Both Four and six are valid
            </label>
            <label class="red-color">
                Any query regarding result or rate has to be contacted within 7 days from the event, query after 7 days from the event will not be considered as valid
            </label>
            <label class="red-color">
                Virtual Cricket
            </label>
            <label>
                Scorecard available on the video will be considered as valid. At any situation, if there is a difference between the scorecard in the website and the scorecard available on video. Score card available on video will be valid
            </label>
            <label>
                In case of any technical issues the video gets interrupted/stopped and the same cannot be continued, the existing markets will be voided. However the markets which are already finished/settled will remain valid.
            </label>
            <label class="red-color">
                CPL:-
            </label>
            <label>
                If CPL fixture 0f 33 matches gets reduced due to any reason, then all the special fancies will be voided (Match abandoned due to rain/bad light will not be considered in this)
            </label>
            <label>
                Fancy based on all individual teams are valid only for league stage
            </label>
            <label>
                Total 1st over runs: Average 6 runs will be given in case match abandoned or over reduced
            </label>
            <label>
                Total fours: Average 22 fours will be given in case match abandoned or over reduced
            </label>
            <label>
                Total sixes: Average 13 sixes will be given in case match abandoned or over reduced
            </label>
            <label>
                Total Wickets - Average will 13 Wickets be given in case match abandoned or over reduced
            </label>
            <label>
                Total Wides - Average 10 wides will be given in case match abandoned or over reduced
            </label>
            <label>
                Total Extras - Average 18 extras will be given in case match abandoned or over reduced
            </label>
            <label>
                Total No ball - Average 1 no ball will be given in case match abandoned or over reduced
            </label>
            <label>
                Total Fifties - Average 1 fifties will be given in case match abandoned or over reduced
            </label>
            <label>
                Total Caught outs: Average 9 caught out will be given in case match abandoned or over reduced
            </label>
            <label>
                At any situation if result is given for any particular event based on the rates given for the same, then the particular result will be considered valid, similarly if the tournament gets canceled due to any reason the previously given result will be considered valid
            </label>
            <label>
                Management decision will be final
            </label>
            <label>
                Highest innings run - Only first innings is valid
            </label>
            <label>
                Lowest innings run - Only first innings is valid
            </label>
            <label>
                Highest over run: Both innings are valid
            </label>
            <label>
                Highest 1st over run in individual match: Both innings are valid, however for CPL we have created the fancy for 1st innings only
            </label>
            <label>
                Highest Fours in individual match: Both innings are valid
            </label>
            <label>
                Highest Sixes in individual match: Both innings are valid
            </label>
            <label>
                Highest Extras in individual match: Both innings are valid
            </label>
            <label>
                Highest Wicket in individual match: Both innings are valid
            </label>
            <label>
                Super over will not be included
            </label>
            <label class="red-color">
                Barbados Tridents
            </label>
            <label>
                Opening partnership run: Average 24 runs will be given in case match abandoned or over reduced
            </label>
            <label>
                First 6 over run: Average 45 run will be given in case match abandoned or over reduced
            </label>
            <label class="red-color">
                St Kitts and Nevis Patriots
            </label>
            <label>
                Opening partnership run: Average 25 runs will be given in case match abandoned or over reduced
            </label>
            <label>
                First 6 over run: Average 45 run will be given in case match abandoned or over reduced
            </label>
            <label class="red-color">
                Trinbago Knight Riders
            </label>
            <label>
                Opening partnership run: Average 22 runs will be given in case match abandoned or over reduced
            </label>
            <label>
                First 6 over run: Average 46 run will be given in case match abandoned or over reduced
            </label>
            <label class="red-color">
                Guyana Amazon Warriors
            </label>
            <label>
                Opening partnership run: Average 23 runs will be given in case match abandoned or over reduced
            </label>
            <label>
                First 6 over run: Average 44 run will be given in case match abandoned or over reduced
            </label>
            <label class="red-color">
                St Lucia Zouks
            </label>
            <label>
                Opening partnership run: Average 22 runs will be given in case match abandoned or over reduced
            </label>
            <label>
                First 6 over run: Average 43 run will be given in case match abandoned or over reduced
            </label>
            <label class="red-color">
                Jamaica Tallawahs
            </label>
            <label>
                Opening partnership run: Average 24 runs will be given in case match abandoned or over reduced
            </label>
            <label>
                First 6 over run: Average 46 run will be given in case match abandoned or over reduced
            </label>

        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="fancy1MarketModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close fancy1MarketClose">&times;</span>
            <h3>Rules</h3>
            <div class="sub-header">
                Fancy1 Market
            </div>
        </div>
        <div class="modal-body">
            <label class="red-color">
                1. Even odd game betting rate rules.
            </label>
            <label>
                1.1 Completed game is valid , in case due to rain over are reduced or match abandoned particular game will be deleted.
            </label>
            <label>
                1.2 All bets regarding to ODD/EVEN player/partnership are valid if one legal delivery is being played, else the bets will be deleted. Player odd/even all advance bets will be valid if one legal delivery is being played in match otherwise voided.
            </label>
            <label>
                1.3 All bets regarding Odd/Even sessions will be deleted if the particular session is incomplete, for example match got abandoned or finished before the end of particular session.
            </label>
            <label>
                1.4 In any circumstances management decision will be final.
            </label>
            <label class="red-color">
                2 Top batsman rules:-
            </label>
            <label class="red-color">
                2.1 If any player does not come as per playing eleven then all bets will be get deleted for the particular player.
            </label>
            <label>
                2.2 two players done the same run in a single match (M Agarwal 30 runs and A Rayudu 30 runs, whole inning top batsmen score also 30 run) then both player settlement to be get done 50 percent (50% , 50%)rate on their original value which given by our exchange.
            </label>
            <label>
                Suppose we have opened value of M Agarwal 3.75 back and customer place bets on 10000 @@ 3.75 rates and A Rayudu 3.0 back and customer place bets on 10000 @@ 3.0 rates.
            </label>
            <label>
                Whole inning result announces 30 run by both player then
            </label>
            <label class="red-color">
                >
                Rule of top batsman:-if you bet on M Agarwal you will be get half amount of this rate (10000*3.75/2=18750 you will get)
            </label>
            <label class="red-color">
                Rule of top batsman:-if you bet on A Rayudu you will be get half amount of this rate (10000*3.00/2=15000 you will get)
            </label>
            <label>
                Top batsman only 1st inning valid.
            </label>
            <label>
                For one day 50 over and for t-20 match 20 over must be played for top batsmen otherwise all bets will be deleted.
            </label>
            <label class="red-color">
                Man of the Match Rules
            </label>
            <label>
                1. All bets will be deleted in case the match is abandoned or over reduced.
            </label>
            <label>
                2. All bets will be deleted if the mentioned player is not included in playing 11.
            </label>
            <label>
                3. In case Man of the Match is shared between two players then Dead heat rule will be applicable, For example K Perera and T Iqbal shares the Man of the Match, then the settlement will be done 50% of the rates accordingly.
            </label>
            <label>
                4. Rules similar to our Top Batsman rules.
            </label>
            <label class="red-color">
                Maximum Sixes by Team
            </label>
            <label>
                1. All bets will be deleted if match abandoned or over reduced
            </label>
            <label>
                2. All bets will be deleted if both the teams hits same number of sixes.
            </label>
            <label>
                3. Super over will not be considered.
            </label>
            <label class="red-color">
                Maximum 6 or 10 over runs
            </label>
            <label>
                1. All bets will be deleted if match abandoned or over reduced.
            </label>
            <label>
                2. All the bets will be deleted if both the teams score is same (Runs scored in 6 or 10 overs)
            </label>
            <label>
                3. 6 overs for T20 and 10 overs for ODI
            </label>
            <label>
                4. Both the innings are valid.
            </label>
            <label>
                5. This fancy will be valid for 1st 6 overs of both innings for T20 and 1st 10 overs of both innings for ODI
            </label>
            <label class="red-color">
                Batsman Match
            </label>
            <label>
                All bets will be deleted if any one of the mentioned player is not included in playing 11.
            </label>
            <label>
                All bets will be deleted unless one ball being played by both the mentioned players.
            </label>
            <label>
                All bets will be deleted if over reduced or Match abandoned.
            </label>
            <label>
                All bets will be deleted if both the player scored same run. For example H Amla and J Bairstow are the batsman matched, H Amla and J Bairstow both scored 38 runs then all bets will be deleted.
            </label>
            <label>
                Both innings will be valid
            </label>
            <label class="red-color">
                Opening Pair
            </label>
            <label>
                1. Bets for Favourite opening pair from the two mentioned opening pair.
            </label>
            <label>
                2. Runs made by both the opening player will be added. For example:- J Roy scored 20 runs and J Bairstow scored 30 runs result will be 50 runs.
            </label>
            <label>
                3. Highest run made by the pair will be declared as winner. For example: Opening pair ENG total is 70 runs and Opening pair SA is 90 runs, then SA 90 runs will be declared as winner.
            </label>
            <label>
                Both innings will be valid
            </label>
            <label class="red-color">
                Our exchange Special
            </label>
            <label>
                All bets will be deleted if the mentioned player is not included in playing 11.
            </label>
            <label>
                All bets will be deleted if match abandoned or over reduced.
            </label>
            <label>
                Both innings will be valid
            </label>
            <label class="red-color">
                Direction of First Boundary
            </label>
            <label>
                All bets will be deleted if the mentioned batsman is not included in playing 11.
            </label>
            <label>
                All bets will be deleted if match abandoned or over reduced.
            </label>
            <label>
                The boundary hit through off side of the stump will be considered as off side four.
            </label>
            <label>
                The boundary hit through leg side of the stump will be considered as leg side four.
            </label>
            <label>
                Boundaries through extras (byes,leg byes,wide,overthrow) will not be considered as valid.
            </label>
            <label>
                Only 1st Inning will be considered
            </label>
            <label class="red-color">
                Fifty & Century by Batsman
            </label>
            <label>
                All bets will be deleted if match abandoned or over reduced.
            </label>
            <label>
                All bets will be deleted if the mentioned batsman is not included in playing 11.
            </label>
            <label>
                All bets will be deleted unless the batsman faces one legal ball.
            </label>
            <label>
                Both Innings will be valid.
            </label>
            <label class="red-color">
                1st over Fancy
            </label>
            <label>
                Boundaries through extras (byes,leg byes,wide,overthrow) will not be considered.
            </label>
            <label>
                Only 1st inning will be valid
            </label>
            <label class="red-color">
                Odd Even Fancy
            </label>
            <label>
                Incompleted games will be deleted. Over reduced or abandoned all bets will be deleted.
            </label>
            <label class="red-color">
                For example:-275 run SL bhav must be played 50 over if rain comes or any condition otherwise 275 run SL bets will be deleted.
            </label>
            <label class="red-color">
                Next Man out
            </label>
            <label>
                Next man out fancy advance & in regular. Both inning will be valid. If any player does not come in opening then all bets will be deleted. If over reduced or abandoned then all bets will be deleted.
            </label>
            <label class="red-color">
                Caught out
            </label>
            <label>
                Caught out fancy in advance & in regular. Both inning will be valid. If over reduced or match abandoned then all bets will be deleted.
            </label>
            <label class="red-color">
                Wkt & All out Fancy
            </label>
            <label>
                5 wkt in 10 over & All out in 20 over fancy is valid for both inning. If match abandoned or over reduced all bets will be deleted.
            </label>
            <label class="red-color">
                Test Match: Game Completed Fancy
            </label>
            <label>
                1. This is the fancy for match to be won/ completed in which day & session (Completed: Game has to be completed)
            </label>
            <label>
                2. If match drawn then all the sessions will be considered as lost.
            </label>
            <label class="red-color">
                Meter Fancy
            </label>
            <label>
                In case match abandoned or over reduced mid point rule will be applicable
            </label>
            <label>
                For example: If Dhoni meter is 75 / 77 and the match abandoned or over reduced, then the result will be 76
            </label>
            <label>
                In case of single difference result will be given for the higher rate of the final rate (eg 53/54) and match gets abandoned then the result will be given as 54
            </label>
            <label>
                Midpoint rule is applicable for test match also. However for lambi meter/ inning meter 70 overs has to be played only then the same will be considered as valid
            </label>
            <label class="red-color">
                Maximum Boundaries:-
            </label>
            <label>
                If the number of fours or sixes of both the team is equal, then all bets of the respective event will get voided
            </label>
            <label class="red-color">
                Khado:- Test
            </label>
            <label>
                Minimum 70 over has to be played by the particular team only then the Khado of the team will be considered as valid, else the same will be voided
            </label>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<script src="~/js/FrontEnd/frontend.eventDetail.js"></script>

<script>


</script>