
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<article class="one_third first">
    <h5 class="heading font-x2">Cricket</h5>
</article>
<div class="two_third">
    <ul class="nospace group">
        <li class="first btmspace-30">
            <!--<a href="#"><i class="icon btmspace-30 fas fa-dove"></i></a>-->
            <h6 class="heading">Sem aenean laoreet ipsum</h6>
            <p>Consectetuer lacus fusce nec augue ut dui dui viverra ac vulputate scelerisque viverra molestie tortor vivamus ut.</p>
        </li>
        <li class="btmspace-30">
            <!--<a href="#"><i class="icon btmspace-30 fas fa-car-crash"></i></a>-->
            <h6 class="heading">Lacus sit amet arcu porta</h6>
            <p>Tempus aenean purus enim euismod nec scelerisque a fringilla et mauris morbi at sapien non enim blandit interdum.</p>
        </li>
        <li class="first">
            <!--<a href="#"><i class="icon btmspace-30 fas fa-charging-station"></i></a>-->
            <h6 class="heading">Morbi posuere phasellus ante</h6>
            <p>Phasellus a risus cras vel odio donec ornare morbi odio in non magna vel diam rutrum elementum aliquam eget nunc.</p>
        </li>
        <li class="last">
            <!--<a href="#"><i class="icon btmspace-30 fas fa-eye-dropper"></i></a>-->
            <h6 class="heading">Vestibulum vehicula neque et</h6>
            <p>Ornare congue lacus nisi pharetra nisl a pharetra urna metus vel nunc nulla nunc metus tempor vitae consectetuer.</p>
        </li>
    </ul>
</div>

